<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>James Routley | Feed</title>

    <link rel="stylesheet" type="text/css" href="styles.css" media="screen" />
  </head>
  <body>
    <h1>News</h1>

    <ol class="postlist">
      <!-- prettier-ignore-->
      {{ range .Posts }}
      <!-- prettier-ignore-->
      {{ if ne .Content "" }}
      <!-- prettier-ignore-->
      <li>
        <a href="posts/{{ .Filename }}">{{ .Title }}</a> ({{ .Host }})
      </li>
      {{ else }}
      <li>
        <a href="{{ .Link }}">{{ .Title }}</a> ({{ .Host }})
      </li>
      <!-- prettier-ignore-->
      {{ end }}
      <!-- prettier-ignore-->
      {{ end }}
    </ol>

    <footer>
      <p>
        <a href="https://github.com/jamesroutley/news.routley.io"
          >What is this?</a
        >
      </p>
    </footer>
  </body>
</html>
