@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

body {
  font-family: "Nanum Myeongjo", serif;
  line-height: 1.7;
  max-width: 600px;
  margin: 50px auto 50px;
  padding: 0 12px 0;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: hsl(238.6, 53.1%, 15.9%);
    color: hsl(0, 0%, 86.7%);
  }

  a {
    color: hsl(208, 96.8%, 75.3%);
  }

  a:visited {
    color: hsl(284.1, 96.1%, 80%);
  }
}

li {
  padding-bottom: 16px;
}
