@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

body {
    font-family: "Nanum Myeongjo", serif;
    line-height: 1.7;
    max-width: 600px;
    margin: 50px auto 50px;
    padding: 0 12px 0;
    height: 100%;
}

li {
    padding-bottom: 16px;
}
