@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@1,300;400&display=swap");

body {
  font-family: "Source Serif Pro", serif;
  font-weight: 300;
  line-height: 1.7;
  max-width: 600px;
  margin: 50px auto 50px;
  padding: 0 12px 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: hsl(238.6, 53.1%, 15.9%);
    color: hsl(0, 0%, 86.7%);
  }

  a {
    color: hsl(208, 96.8%, 75.3%);
  }

  a:visited {
    color: hsl(284.1, 96.1%, 80%);
  }

  /* https://css-tricks.com/dark-modes-with-css/#its-not-just-setting-dark-backgrounds-with-light-text */
  img {
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
}

.postlist li {
  padding-bottom: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

video {
  max-width: 100%;
}

blockquote {
  border-left: solid #9b9b9b 1px;
  margin-left: 0;
  padding-left: 40px;
  border-radius: 6px;
}

code {
  padding: 4px;
}

pre {
  overflow: scroll;
}

pre code {
  padding: 0;
}
